.container
{
    width:75%;
    height:500px;
    background-color:#c0c0c0;
    margin-left: 60px;
    padding-top: 10px;
    padding-left: 70px;;
}
h1{
    color: #008080;
}
body{
    color:#ff0000;
}